.close{
    position: absolute;
    right: 10px;
    border: 0;
    background: transparent;
    font-size: 20px;
    border-radius: 5px;
    min-width: 50px;
}

.myalert{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    z-index: 5000;
}


.close:hover{
    background-color: white;
}